h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
span{
    text-align: center;
    margin: 25 px;
    background-color: yellowgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color:peachpuff;
}